@import "tailwindcss";

@theme {
  --color-brand-50: #ebf9fc;
  --color-brand-100: #d6f2fa;
  --color-brand-200: #ade5f4;
  --color-brand-300: #74d3ed;
  --color-brand-400: #3bbee7;
  --color-brand-500: #00a2e8;
  --color-brand-600: #1169aa;
  --color-brand-700: #0b4d94;
  --color-brand-800: #05336d;
  --color-brand-900: #021a38;

  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
